body {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  color: #fff;
  font-weight: 600;
}

// .btn-secondary {
//   color: #fff;
//   background-color: $secondary-brown;
//   font-weight: 600;

//   &:hover
// }

.page-title {
  color: #688643;
  font-size: 1.6rem;
  font-weight: 400;

  margin: 3rem 0;
}