<div class="container">
  <header class="primary-header">

    <nav class="navbar">

    {{#link-to 'index' class="navbar-brand"}}<img src="/images/swag_logo.svg" class="kummit-logo" />  Kummit{{/link-to}}
    {{!-- <div class="mr-auto btn-group btn-group-sm" role="group" aria-label="Portal and Swag">
      <a class="btn btn-primary" href="http://portal.tunapanda.org" target="_blank" role="button" style="background-color: #564840; border-color: #FFFFFF;">Portal</a>
      <a class="btn btn-primary" target="_blank" href="http://xavierproject.tunapanda.org" role="button" style="background-color: #6FCF3F; border-color: #FFFFFF;">Swag</a>
    </div> --}}
    <ul class="account-menu nav navbar-nav">
      <li class="nav-item dropdown">
        {{#if me.isAuthenticated }}
        <BsDropdown @tagName="a" as |dd|>
          <dd.toggle>{{ me.user.username }} <span class="caret"></span></dd.toggle>
          <dd.menu as |menu|>
            <menu.item>
              {{#menu.link-to "index"}}My Account{{/menu.link-to}}
            </menu.item>
            <menu.item>
              {{#menu.link-to "index"}}Change Password{{/menu.link-to}}
            </menu.item>
            <menu.divider />
            <menu.item>
              {{#menu.link-to "index"}}Log Out{{/menu.link-to}}
            </menu.item>
          </dd.menu>
        </BsDropdown>
        {{else}}
        <form class="form-inline ml-auto">
          {{#link-to 'login' class="btn btn-outline-secondary"}}Log in{{/link-to}}
          {{#link-to 'signup' class="btn btn-primary ml-2"}}Sign Up{{/link-to}}
        </form>
        {{/if}}
      </li>
    </ul>
    </nav>
    <ul class="main-navigation nav nav-tabs">
      <li class="nav-item mr-auto">
        {{#link-to 'calendar' class="nav-link"}}Calendar{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'projects' class="nav-link"}}Projects{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'tasks' class="nav-link"}}Tasks{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'kummitments' class="nav-link"}}Kummitments{{/link-to}}
      </li>
    </ul>
  </header>
</div>

<div class="main-content container">
  {{outlet}}
</div>

<footer class="footer">
  <div class="container">
    &copy; Anapanda
  </div>
</footer>